@import "card.css";
@import "file-uploader.css";

* {
    /* Gutters */
    --columns-vertical-gutter: 10px;

    /* Colors */
    --black: #000000;
    --shark: #2B2D33;
    --alabaster: #FBFBFB;
    --turbo: #FEE600;
    --iron: #D5D5D6;
    --white: #FFFFFF;
    --allports: #00809C;
    --venice-blue: #04617D;

    /* Transitions */
    --transizion-duration: 300ms;

    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--alabaster);
}

.container {
    width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-right: calc(-2 * var(--columns-vertical-gutter));
    margin-left: calc(-2 * var(--columns-vertical-gutter));
}

.row:not(:last-child) {
    margin-bottom: 20px;
}

.col {
    margin-right: var(--columns-vertical-gutter);
    margin-left: var(--columns-vertical-gutter);
}
