.input {
    padding: 5px 10px;
    outline: none;
    color: var(--shark);
    transition: border-color var(--transizion-duration);
    border: 2px solid var(--iron);
    border-radius: 8px;
}

.input:hover {
    border-color: var(--shark);
}
