.link {
    display: block;
    color: var(--allports);
    text-decoration: underline;
    transition: color var(--transizion-duration);
}

.link:hover {
    color: var(--venice-blue);
}

.link--self-end {
    text-align: right;
}
